<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="propertySummary">


  <progress-eot [position]="2"></progress-eot>

  <ion-grid *ngIf="summaryVisible">
    <ion-row>
      <ion-col>
        <div class="price-box">
          CURRENT PRICE
          <br>
          <span class="without-discount line" >{{'£' + price}}</span><br>
          <span class="without-discount"> {{'£' + discountPrice}}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Property Type</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.prop_type | uppercase}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Flat Studio</ion-col>
      <ion-col>
        <span class="numb">{{(bookingDataObj.flat_studio === '1') ? 'Yes' : 'No'}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf=" bookingDataObj.ext_windows_no !== null && bookingDataObj.ext_windows_no != '0'">
      <ion-col>External Windows</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.ext_windows_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.bedrooms !== null && bookingDataObj.bedrooms != '0'">
      <ion-col>Bedrooms</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.bedrooms}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.bathrooms_no !== null && bookingDataObj.bathrooms_no != '0'">
      <ion-col>BathRooms</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.bathrooms_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.carpet_no !== null && bookingDataObj.carpet_no != '0'">
      <ion-col>Carpet Cleaning</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.carpet_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.blinds_no !== null && bookingDataObj.blinds_no != '0'">
      <ion-col>Blinds</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.blinds_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.curtain_steam_no !== null && bookingDataObj.curtain_steam_no != '0'">
      <ion-col>Curtain Steam</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.curtain_steam_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.mattress_steam_no !== null && bookingDataObj.mattress_steam_no != '0'">
      <ion-col>Mattres Steam</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.mattress_steam_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.wall_washing_no !== null && bookingDataObj.wall_washing_no != '0'">
      <ion-col>Wall Washing</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.wall_washing_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.sofa_clean_no !== null && bookingDataObj.sofa_clean_no != '0'">
      <ion-col>Sofa clean</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.sofa_clean_no}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.rug !== null && bookingDataObj.rug != '0'">
      <ion-col>Rug</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.rug}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="bookingDataObj.balcony !== null && bookingDataObj.balcony != '0'">
      <ion-col>Balcony</ion-col>
      <ion-col>
        <span class="numb">{{bookingDataObj.balcony}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <div class="col-sm-12">
            <button class="back" ion-button icon-right float-left outline (click)="redirecToPersonalInfoPage()">
              Back
              <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="col-sm-12">
            <button class="next" ion-button icon-right (click)="savePropertyDataAndRedirectTo()">
              Next
              <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!summaryVisible">
    <ion-row>
      <ion-col>
        <div class="price-box">
          CURRENT PRICE
          <br>
          <span class="without-discount line">{{'£' + price}}</span><br>
          <span class="without-discount"> {{'£' + discountPrice}}</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'prop_type'"
        [lable]="'Type'"
        [isToggle]="true"
        [toggleOnly]="true"
        #typeSelector
        [activeLable]="'FLAT'"
        [deActiveLable]="'HOUSE'"
        (onToggle)="onSelectType($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'flat_studio'"
        [lable]="'Flat/ Studio'"
        #flatSelector
        [toggleOnly]="true"
        [activeLable]="'YES'"
        [deActiveLable]="'NO'"
        (onToggle)="onFlatOrStudio($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'bedrooms'"
        [lable]="'Bedrooms'"
        #bedSelector
        [items]="['01', '02', '03', '04', '05']"
        (onToggle)="onToggleBedrooms($event)"
        (onSelectItem)="onSelectBedrooms($event)">
      </selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'bathrooms_no'"
        #bathRoomSelector
        [lable]="'Bathrooms'"
        [items]="['01', '02', '03', '04', '05']"
        (onToggle)="onToggleBathrooms($event)"
        (onSelectItem)="onSelectBathRooms($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'carpet_no'"
        [lable]="'Carpert Cleaning'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleCarpets($event)"
        (onSelectItem)="onSelectCatpets($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'ext_windows_no'"
        [lable]="'External Windows'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleWindows($event)"
        (onSelectItem)="onSelectWindows($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'blinds_no'"
        [lable]="'Blinds'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleBlinds($event)"
        (onSelectItem)="onSelectBlinds($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'curtain_steam_no'"
        [lable]="'Curtain steam'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleCurtain($event)"
        (onSelectItem)="onSelectCurtain($event)"></selector>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <selector
        [key]="'mattress_steam_no'"
        [lable]="'Mattress steam'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleMattress($event)"
        (onSelectItem)="onSelectMattress($event)"
        ></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'wall_washing_no'"
        [lable]="'Wall washing'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleWall($event)"
        (onSelectItem)="onSelectWall($event)" ></selector>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <selector
        [key]="'sofa_clean_no'"
        [lable]="'Sofa clean'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleSofa($event)"
        (onSelectItem)="onSelectSofa($event)" ></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'rug'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        [lable]="'Rug'"
        (onToggle)="onToggleRug($event)"
        (onSelectItem)="onSelectRug($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'balcony'"
        [items]="['01', '02', '03', '04', '05']"
        [lable]="'Balcony'"
        (onToggle)="onToggleBalcony($event)"
        (onSelectItem)="onSelectBalcony($event)"></selector>
      </ion-col>
    </ion-row>


    <ion-row style="padding-bottom: 50px;">
      <ion-col>
        <div class="col-sm-12">
          <button class="back" ion-button icon-right float-left outline (click)="redirecToPersonalInfoPage()">
            Back
            <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-sm-12">
          <button class="next" ion-button icon-right (click)="savePropertyDataAndRedirectTo()">
            Next
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<eot-footer></eot-footer>
