


page-property-info{
	.lbl{
		float:none;
		display:block;
	}
	.btn-test{
		float: none;
		display: block;
		height: 32px;
		width: 120px;
		background: #e0e0e0;
		border: solid 2px #0093d1;
	}
	.popup{
		border: solid 2px #0093d1;
	}
	.list-item:hover{
		background:#b2dced;
	}
	button{
		background:#0b3853;
	}

	.price-box {
		background-color: #0093d1;
		color: #fff;
		font-size: 16px;
		text-align: center;
		padding: 10px;
		/* border: 5px; */
		border-radius: 5px;
	}

	.without-discount {
		font-style: italic;
	}
  .line{
    text-decoration: line-through;
  }

  span.numb {
    border: 2px solid #0093d1;
    border-radius: 30px;
    overflow: hidden;
    width: 5em;
    line-height: 2em;
    text-align: center;
    margin-right: 2em;
  }
  
  progress-eot, progress-eot .navigation{
width: 245px;
margin: 0 auto;
padding-left:16px;
}
.propertySummary{
	.numb{ border:none;}
}

.popup {
    border: solid 2px #0093d1;
    max-height: 100px;
    overflow-y: scroll;
}

}



