<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <progress-eot [position]="2"></progress-eot>
  <ion-grid *ngIf="summaryVisible">
    <ion-row>
      <ion-col>
        <div class="price-box">
          CURRENT PRICE
          <br>
          <span class="without-discount line" >{{'£' + price}}</span><br>
          <span class="without-discount"> {{'£' + discountPrice}}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>TYPE</ion-col>
      <ion-col> {{bookingDataObj.prop_type}} </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <div class="col-sm-12">
            <button class="back" ion-button icon-right float-left outline (click)="redirecToPersonalInfoPage()">
              Back
              <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="col-sm-12">
            <button class="next" ion-button icon-right (click)="savePropertyDataAndRedirectTo()">
              Next
              <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!summaryVisible">
    <ion-row>
      <ion-col>
        <div class="price-box">
          CURRENT PRICE
          <br>
          <span class="without-discount">{{'£' + price}}</span><br>
          <span class="without-discount"> {{'£' + discountPrice}}</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'prop_type'"
        [lable]="'Type'"
        [isToggle]="true"
        [toggleOnly]="true"
        [activeLable]="'FLAT'"
        [deActiveLable]="'HOUSE'"
        (onToggle)="onSelectType($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'flat_studio'"
        [lable]="'Flat/ Studio'"
        [toggleOnly]="true"
        (onToggle)="onFlatOrStudio($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'bedrooms'"
        [lable]="'Bedrooms'"
        [items]="['01', '02', '03', '04', '05']"
        (onToggle)="onToggleBedrooms($event)"
        (onSelectItem)="onSelectBedrooms($event)">
      </selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'bathrooms_no'"
        [lable]="'Bathrooms'"
        [items]="['01', '02', '03', '04', '05']"
        (onToggle)="onToggleBathrooms($event)"
        (onSelectItem)="onSelectBathRooms($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'carpet_no'"
        [lable]="'Carpert Cleaning'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleCarpets($event)"
        (onSelectItem)="onSelectCatpets($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'ext_windows_no'"
        [lable]="'External Windows'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleWindows($event)"
        (onSelectItem)="onSelectWindows($event)"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'blinds_no'"
        [lable]="'Blinds'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleBlinds($event)"
        (onSelectItem)="onSelectBlinds($event)"></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'curtain_steam_no'"
        [lable]="'Curtain steam'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleCurtain($event)"
        (onSelectItem)="onSelectCurtain($event)"></selector>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <selector
        [key]="'mattress_steam_no'"
        [lable]="'Mattress steam'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleMattress($event)"
        (onSelectItem)="onSelectMattress($event)"
        ></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'wall_washing_no'"
        [lable]="'Wall washing'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleWall($event)"
        (onSelectItem)="onSelectWall($event)" ></selector>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <selector
        [key]="'sofa_clean_no'"
        [lable]="'Sofa clean'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        (onToggle)="onToggleSofa($event)"
        (onSelectItem)="onSelectSofa($event)" ></selector>
      </ion-col>
      <ion-col>
        <selector
        [key]="'rug'"
        [items]="['01', '02', '03', '04', '05', '06', '07', '08', '09', '10']"
        [lable]="'Rug'"></selector>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <selector
        [key]="'balcony'"
        [items]="['01', '02', '03', '04', '05']"
        [lable]="'Balcony'"></selector>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div class="col-sm-12">
          <button class="back" ion-button icon-right float-left outline (click)="redirecToPersonalInfoPage()">
            Back
            <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-sm-12">
          <button class="next" ion-button icon-right (click)="savePropertyDataAndRedirectTo()">
            Next
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
