<!-- Generated template for the ProgressComponent component -->
<!-- <div>
  {{text}}
</div> -->

   <i class="icon ion-home" style="font-size:30px; color:#000"></i>
   
<div class="navigation">
  <span class="bullet">
    >
  </span>
  
  <span class="line filled"></span>
  <span id="second-bullet" class="bullet default next">
 
  </span>
  
  <span id="second-line" class="line filled"></span>
  <span id="third-bullet" class="bullet default next">
    
  </span>

  <div class="row labels" style="width:100%">
    <div style="width:33%;text-align:center">personal info</div>
    <div style="width:33%;text-align:center">property info</div>
    <div style="width:33%;text-align:center">complete</div>
  </div>
</div>