input.text-input, textarea.text-input, ion-select.dropdown{
   // border-bottom: solid 1px #ccc;
   width: 100%;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px;
    padding: 8px 10px;
    border: solid 1px #0093d1;
    border-radius: 4px;
}
.list-ios > .item-block:last-child{
	border:none;
}


.validation-error {
  border-bottom: 1px solid red;
}

.validation-error-item.item-block.item-md {
  div.item-inner {
    border: none;
  }
}

.error-msg {
  color: red !important;
}


contact{
	button, .button{
		border-radius:4px !important;
		height:40px !important;
		padding-left:13px !important;
		padding-right:13px !important;
		background-color:#fff;
		border-width: 1px;
		border-style: solid;
		border-color: #3693D5;
		color: #3693D5;
	}
}

.toast-success {
  > div{
    background-color: #28a279 !important;
    text-align: center;
  }
}

.toast-error {
  .toast-container{
    background-color: #a23d11 !important;
    text-align: center;
  }
}

.toast-offline {
  .toast-container {
    text-align: center;
  }
}
.list-md .item-block .item-inner{ border-bottom: none !important;}

.gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100;Blue+Pipe+%232 */
background: rgb(225,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.backimg{
 width: 100%;
    height: 100% auto;
    background-image: url('../assets/imgs/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.validation-error{ border:0 !important;}