<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="color:deepskyblue">
          Contact Us
        </h2>
        <p>
          Job mart, <br>
          14 Holland Road, E15 3BP, London, <br>
          United kingdom <br>
          Company Reg. No : 07469521
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Call Us : 020 33 711 200 <br>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="_contactForm">
          <ion-list>

            <ion-item>
              <ion-label color="primary" stacked>Name</ion-label>
              <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
              <div class="form-control-feedback"
                   *ngIf="_contactForm.controls.name.errors && (_contactForm.controls.name.dirty || _contactForm.controls.name.touched)">
                <p class="error-msg" *ngIf="_contactForm.controls.name.errors.required">Name is required</p>
              </div>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Emaill</ion-label>
               <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
              <div class="form-control-feedback"
                   *ngIf="_contactForm.controls.email.errors && (_contactForm.controls.email.dirty || _contactForm.controls.email.touched)">
                <p class="error-msg" *ngIf="_contactForm.controls.email.errors.required">Email is required</p>
              </div>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>PostCode</ion-label>
              <ion-input type="text" placeholder="postcode" formControlName="postcode"></ion-input>
              <div class="form-control-feedback"
                   *ngIf="_contactForm.controls.postcode.errors && (_contactForm.controls.postcode.dirty || _contactForm.controls.postcode.touched)">
                <p class="error-msg" *ngIf="_contactForm.controls.postcode.errors.required">Postcode is required</p>
              </div>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Phone Number</ion-label>
              <ion-input type="text" placeholder="phone Number" formControlName="phone_no"></ion-input>
              <div class="form-control-feedback"
                   *ngIf="_contactForm.controls.phone_no.errors && (_contactForm.controls.phone_no.dirty || _contactForm.controls.phone_no.touched)">
                <p class="error-msg" *ngIf="_contactForm.controls.phone_no.errors.required">Phone Number is required</p>
              </div>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Message</ion-label>
              <ion-textarea #message id="myInput" placeholder="Message" rows="3" formControlName="message"></ion-textarea>
              <div class="form-control-feedback"
                   *ngIf="_contactForm.controls.message.errors && (_contactForm.controls.message.dirty || _contactForm.controls.message.touched)">
                <p class="error-msg" *ngIf="_contactForm.controls.message.errors.required">Message is required</p>
              </div>
            </ion-item>

             <ion-item>
               <button (click)="sendContactRequest()" ion-button color="default">Submit</button>
             </ion-item>

          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
