input.text-input, textarea.text-input, ion-select.dropdown{
   // border-bottom: solid 1px #ccc;
   width: 100%;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0px;
    padding: 8px 10px;
    border: solid 1px #0093d1;
    border-radius: 4px;
}
.list-ios > .item-block:last-child{
	border:none;
}


.validation-error {
  border-bottom: 1px solid red;
}

.validation-error-item.item-block.item-md {
  div.item-inner {
    border: none;
  }
}

.error-msg {
  color: red !important;
}


contact{
	button, .button{
		border-radius:4px !important;
		height:40px !important;
		padding-left:13px !important;
		padding-right:13px !important;
		background-color:#fff;
		border-width: 1px;
		border-style: solid;
		border-color: #3693D5;
		color: #3693D5;
	}
}

.toast-success {
  > div{
    background-color: #28a279 !important;
    text-align: center;
  }
}

.toast-error {
  .toast-container{
    background-color: #a23d11 !important;
    text-align: center;
  }
}

.toast-offline {
  .toast-container {
    text-align: center;
  }
}
.list-md .item-block .item-inner{ border-bottom: none !important;}
