class="home"

.home{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81d0f1+1,1875ad+100 */
background: #81d0f1; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #81d0f1 1%, #1875ad 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #81d0f1 1%,#1875ad 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #81d0f1 1%,#1875ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81d0f1', endColorstr='#1875ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}