
body{
font-size:14px;
}
ion-label, .label, .label-ios{
	font-size:14px !important;
}
page-slider{
ion-content{
	.scroll-content{
		padding:0;
	}
}

}

ion-footer{
	.toolbar-title{
		font-size:11px !important;
	}
}

	
