
body{
font-size:14px;
}
ion-label, .label, .label-ios{
	font-size:14px !important;
}
page-slider{
ion-content{
	.scroll-content{
		padding:0;
	}
}

}

ion-footer{
	.toolbar-title{
		font-size:11px !important;
	}
}

button{
	border-radius:4px !important;
}


.toast-success {
  > div{
    background-color: #28a279 !important;
    text-align: center;
  }
}

.toast-error {
  .toast-container{
    background-color: #a23d11 !important;
    text-align: center;
  }
}

.toast-offline {
  .toast-container {
    text-align: center;
  }
}
.validation-error{ border:0 !important;}