

// // Material Theme
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


// .name {

// }

body{
font-size:14px;
}
ion-label, .label, .label-ios{
	font-size:14px !important;
}
page-slider{
ion-content{
	.scroll-content{
		padding:0;
	}
}

}