ion-label, .label, .label-ios{
	font-size:14px !important;
	font-weight:bold;
	color:#0b3853;
}
ion-label b{ 
	color:#ee0043;
	font-weight: bolder;
    font-size: 15px;
}
ion-input, .datetime-text{
color:#555;
}