<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backimg">
  <ion-grid padding>

    <progress-eot [position]="1"></progress-eot>

    <form style="margin-top: 30px;" [formGroup]="_personalInfoForm">

      <ion-row style="border-bottom:none;">
        <ion-col style="padding:0">
          <ion-item style="padding-left: 15px;">
            <ion-label stacked>Date <b>*</b></ion-label>
            <ion-datetime class="input_box" displayFormat="YYYY-MM-DD" formControlName="date" [min]="_minDay" max="2100-12-31" (ngModelChange)="dateChanged($event)"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col style="padding:0">
          <ion-item>
            <ion-label stacked>Time <b>*</b></ion-label>
            <ion-select class="input_box" formControlName="time" interface="action-sheet">
              <ion-option *ngFor="let timeRange of timeRangeValues" [value]="timeRange.value">{{timeRange.label}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-list>
        <ion-item *ngIf="!isDateAvailable">
          <p class="error-msg">Selected Date is not available.</p>
        </ion-item>

        <ion-item>
          Name <b>*</b><br>
          <input class="input_box" type="text" formControlName="name">
          <div class="form-control-feedback"
               *ngIf="_personalInfoForm.controls.name.errors && (_personalInfoForm.controls.name.dirty || _personalInfoForm.controls.name.touched)">
            <p class="error-msg" *ngIf="_personalInfoForm.controls.name.errors.required">Name is required</p>
          </div>
        </ion-item>

        <ion-item>
          Postcode <b>*</b><br>
          <input class="input_box" type="text" formControlName="postCode">
          <div class="form-control-feedback"
               *ngIf="_personalInfoForm.controls.postCode.errors && (_personalInfoForm.controls.postCode.dirty || _personalInfoForm.controls.postCode.touched)">
            <p class="error-msg" *ngIf="_personalInfoForm.controls.postCode.errors.required">Postcode is required</p>
          </div>
        </ion-item>

        <ion-item>
          Address <b>*</b><br>
          <input class="input_box" type="text" formControlName="address">
          <div class="form-control-feedback"
               *ngIf="_personalInfoForm.controls.address.errors && (_personalInfoForm.controls.address.dirty || _personalInfoForm.controls.address.touched)">
            <p class="error-msg" *ngIf="_personalInfoForm.controls.address.errors.required">Address is required</p>
          </div>
        </ion-item>

        <ion-item>
          Phone No <b>*</b><br>
          <input class="input_box" type="text" formControlName="phoneNum">
          <div class="form-control-feedback"
               *ngIf="_personalInfoForm.controls.phoneNum.errors && (_personalInfoForm.controls.phoneNum.dirty || _personalInfoForm.controls.phoneNum.touched)">
            <p class="error-msg" *ngIf="_personalInfoForm.controls.phoneNum.errors.required">Phone Number is required</p>
          </div>
        </ion-item>

        <ion-item>
          Email <b>*</b><br>
          <input class="input_box" type="text" formControlName="email">
          <div class="form-control-feedback"
               *ngIf="_personalInfoForm.controls.email.errors && (_personalInfoForm.controls.email.dirty || _personalInfoForm.controls.email.touched)">
            <p class="error-msg" *ngIf="_personalInfoForm.controls.email.errors.required">Email is required</p>
          </div>
        </ion-item>

        <ion-item>
          Comments<br>
          <textarea rows="4" class="input_box" type="text" formControlName="comments"></textarea>
        </ion-item>

      </ion-list>
    </form>

    <ion-row *ngIf="_formInvalid" >
      <p style="color: red;"><b>**</b> Please fill all the mandatory fields</p>
    </ion-row>

    <ion-row style="padding-bottom: 50px;">
      <ion-col>
        <div class="col-sm-12">
          <button class="back" ion-button icon-right float-left outline [disabled]="true">
            Back
            <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div class="col-sm-12">
          <button class="next"  [disabled]="!isDateAvailable" ion-button icon-right (click)="savePersonalInfo()">
            Next
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<eot-footer></eot-footer>
