<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col style="padding:16px;">
        <h3>
          Contact Us About Your Commercial And Office Cleaning.
        </h3>
        <p>
          Please fill in your details below and a member of our staff will contact you as soon as possible.
          If you prefer to call us, please use the number shown in the top right hand corner.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="width: 100%; margin-right: 16px;">
        <form [formGroup]="_quoteForm">
          <ion-list>
            <ion-item>
              <ion-label color="primary" stacked>Name <b>*</b></ion-label>
              <ion-input type="text" placeholder="Name" formControlName="name"
                         [ngClass]="{'validation-error': _quoteForm.controls.name.errors && (_quoteForm.controls.name.dirty || _quoteForm.controls.name.touched)}"></ion-input>
            </ion-item>
            <ion-item class="form-control-feedback validation-error-item" *ngIf="_quoteForm.controls.name.errors && (_quoteForm.controls.name.dirty || _quoteForm.controls.name.touched)">
              <p class="error-msg" *ngIf="_quoteForm.controls.name.errors.required">Name is required</p>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Address <b>*</b></ion-label>
              <ion-input type="text" placeholder="Adress" formControlName="address"
                         [ngClass]="{'validation-error': _quoteForm.controls.address.errors && (_quoteForm.controls.address.dirty || _quoteForm.controls.address.touched)}"></ion-input>
            </ion-item>
            <ion-item class="form-control-feedback validation-error-item" *ngIf="_quoteForm.controls.address.errors && (_quoteForm.controls.address.dirty || _quoteForm.controls.address.touched)">
              <p class="error-msg" *ngIf="_quoteForm.controls.address.errors.required">Address is required</p>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>PostCode <b>*</b></ion-label>
              <ion-input type="text" placeholder="Postcode" formControlName="postcode"
                         [ngClass]="{'validation-error': _quoteForm.controls.postcode.errors && (_quoteForm.controls.postcode.dirty || _quoteForm.controls.postcode.touched)}"></ion-input>
            </ion-item>
            <ion-item class="form-control-feedback validation-error-item" *ngIf="_quoteForm.controls.postcode.errors && (_quoteForm.controls.postcode.dirty || _quoteForm.controls.postcode.touched)">
              <p class="error-msg" *ngIf="_quoteForm.controls.postcode.errors.required">PostCode is required</p>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Phone Number <b>*</b></ion-label>
              <ion-input type="text" placeholder="Phone Number" formControlName="phone_no"
                         [ngClass]="{'validation-error': _quoteForm.controls.phone_no.errors && (_quoteForm.controls.phone_no.dirty || _quoteForm.controls.phone_no.touched)}"></ion-input>
            </ion-item>
            <ion-item class="form-control-feedback validation-error-item" *ngIf="_quoteForm.controls.phone_no.errors && (_quoteForm.controls.phone_no.dirty || _quoteForm.controls.phone_no.touched)">
              <p class="error-msg" *ngIf="_quoteForm.controls.phone_no.errors.required">Phone Number is required</p>
            </ion-item>

            <ion-item class="serviceDropDown">
              <ion-label stacked>Services <b>*</b></ion-label>
              <ion-select id="service" class="dropdown" formControlName="service" >
                <ion-option [value]="service" *ngFor="let service of services">{{service}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="form-control-feedback validation-error-item" *ngIf="_quoteForm.controls.service.errors && (_quoteForm.controls.service.dirty || _quoteForm.controls.service.touched)">
              <p class="error-msg" *ngIf="_quoteForm.controls.service.errors.required">Phone Number is required</p>
            </ion-item>

            <ion-item>
              <button (click)="sendQuoteRequest()" ion-button style="height: 40px; padding-left: 16px; padding-right: 16px;">Get Your Quote</button>
            </ion-item>
          </ion-list>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
