
page-quote {

  ion-select select-placeholder {
    padding-left: 10px;
  }

  .dropdown-wrapper {
    margin-left: 16px;
    margin-top: 15px;

    .dropdown {
      border: 1px solid;
      width: 100%;
      border-color: #3d9bdd;
      height: 25px;
    }
  }

  .validation-error {
    border-bottom: 1px solid red;
  }

  .validation-error-item.item-block.item-md {
    div.item-inner {
      border: none;
    }
  }

  .error-msg {
    color: red !important;
  }

}

.toast-success {
  .toast-container{
    background-color: #28a279 !important;
    text-align: center;
  }
}

.toast-error {
  .toast-container{
    background-color: #a23d11 !important;
    text-align: center;
  }
}

.toast-offline {
  .toast-container {
    text-align: center;
  }
}
.serviceDropDown{
	.item-inner{
		    margin-right: 10px;
	}
}
