
page-quote {

  .dropdown-wrapper {
    margin-left: 16px;
    margin-top: 15px;

    .dropdown {
      border: 1px solid;
      width: 100%;
      border-color: #3d9bdd;
      height: 25px;
    }
  }

}

