<ion-header>
  <ion-navbar>
    <ion-title>
      EOT Cleaning Service
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col style="padding:16px;">
        <h3 style="color:deepskyblue">
          Contact Us About Your Commercial And Office Cleaning.
        </h3>
        <p>
          JPlease fill in your details below and a member of our staff will contact you as soon as possible.
          If you prefer to call us, please use the number shown in the top right hand corner.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="_quoteForm">
          <ion-list>
            <ion-item>
              <ion-label color="primary" stacked>Name <b>*</b></ion-label>
              <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Address <b>*</b></ion-label>
              <ion-input type="text" placeholder="Adress" formControlName="address"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>PostCode <b>*</b></ion-label>
              <ion-input type="text" placeholder="Postcode" formControlName="postcode"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" stacked>Phone Number <b>*</b></ion-label>
              <ion-input type="text" placeholder="Phone Number" formControlName="phone_no"></ion-input>
            </ion-item>

            <div class="dropdown-wrapper">
              <ion-label>Services <b>*</b></ion-label>
              <select id="service" class="dropdown" formControlName="service">
                <option [value]="service" *ngFor="let service of services">{{service}}</option>
              </select>
            </div>

            <ion-item *ngIf="_formInvalid" >
              <p style="color: red;"><b>**</b> Please fill all the mandatory fields</p>
            </ion-item>

            <ion-item>
              <button (click)="sendQuoteRequest()" ion-button color="default">GET YOUR QUOTE</button>
            </ion-item>
          </ion-list>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
